@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#titulo {
  font-size: 65px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); 
  transition: all 0.2s;
}

button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
}

#botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  margin: 10px;
}

#bJogar {
  padding: 8px 18px;
  background-color: #cececd;
  border: 1px solid #888;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  transition: all 0.2s;
}

#bJogar:hover {
  background-color: #acacab;
  transform: scale(1.1); 
  cursor: pointer;
}

#bTutorial {
  padding: 8px 12px;
  background-color: #cececd;
  border: 1px solid #888;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  transition: all 0.2s;
}

#bTutorial:hover {
  background-color: #acacab;
  transform: scale(1.1); 
  cursor: pointer;
}

#telaJogo {
  display: none;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin-top: auto;
  margin-bottom: 45px;
}

#statusJD {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 20px;
  letter-spacing: -1px; 
  position: absolute;
  right: 60px;
  top: 45%;
  transform: translateY(-50%); 
  font-weight: bold;
}

#cartasNaMao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

#botoesJogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: -15px;
}

#bJogarCartas {
  padding: 8px 16px;
  background-color: #90e44c;
  border: 1px solid #888;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  transition: all 0.2s;
}

#bJogarCartas:hover {
  background-color: #7bc73d;
  transform: scale(1.1); 
  cursor: pointer;
}

#bDescartarCartas {
  padding: 8px 16px;
  background-color: #e4564c;
  border: 1px solid #888;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  transition: all 0.2s;
}

#bDescartarCartas:hover {
  background-color: #d1463c;
  transform: scale(1.1); 
  cursor: pointer;
}

.carta {
  width: 60px;
  height: 100px;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  text-align: center;
}

.carta:hover {
  width: 60px;
  height: 100px;
  border: 1px solid #333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #dedcdc;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  text-align: center;
  transform: translateY(-5px);
  transition: all 0.2s;
}

.nomeCarta {
  position: absolute;
  top: 5px;
  left: 5px;
}

.iconeNaipe {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 50px;
}

.naipeVermelho {
  color: #ff0000;
}

.naipePreto {
  color: black;
}

.carta.selecionada {
  transform: translateY(-10px);
  border: 2px solid rgb(68, 68, 69);
  box-shadow: 0 4px 8px rgba(71, 71, 71, 0.3);
  transition: all 0.2s;
}
