body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #edecf7;
}

button {
  font-family: "Pixelify Sans", sans-serif;
}

#titulo {
  margin-bottom: 40px;
  color: #350e53;
  font-size: 85px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}

#botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 5px;
  padding: 10px 20px;
}

#bJogar {
  padding: 8px 20px;
  color: #350e53;
  background-color: #bdb2f7;
  border: 1px solid #a295e4;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s;
}

#bJogar:hover {
  background-color: #c5bbfa;
  transform: scale(1.1);
  cursor: pointer;
}

#bTutorial {
  padding: 8px 12px;
  background-color: #bdb2f7;
  border: 1px solid #a295e4;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #350e53;
  transition: all 0.2s;
}

#bTutorial:hover {
  background-color: #c5bbfa;
  transform: scale(1.1);
  cursor: pointer;
}

#telaJogo {
  display: none;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin-top: auto;
  margin-bottom: 45px;
}

#voltarTI {
  display: flex;
  font-size: 15px;
  position: absolute;
  top: 59px;
  left: 10%;
  transform: translateX(-50%);
  font-weight: bold;
  color: #350e53;
  background-color: #edecf7;
  border: #edecf7;
  transition: all 0.2s;
}

#voltarTI:hover {
  color: #421465;
  cursor: pointer;
  font-size: 15.7px;
}

#cartasNaMao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

#botoesJogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: -15px;
}

#bJogarCartas {
  padding: 8px 16px;
  background-color: #3ac08a;
  border: 1px solid #28a171;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  transition: all 0.2s;
}

#bJogarCartas:hover {
  background-color: #4ad8a0;
  transform: scale(1.1);
  cursor: pointer;
}

#bDescartarCartas {
  padding: 8px 16px;
  background-color: #de4468;
  border: 1px solid #c93a5b;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  transition: all 0.2s;
}

#bDescartarCartas:hover {
  background-color: #f25e81;
  transform: scale(1.1);
  cursor: pointer;
}

#statusJD {
  display: flex;
  gap: 20px;
  font-size: 20px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 20px;
  background-color: #bdb2f7;
  border: 1px solid #a295e4;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #350e53;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.fechar {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.2s;
}

.fechar:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal-perdeu {
  background-color: #de4468;
  border: 1px solid #b83352;
  border-radius: 8px;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: white;
  box-shadow: #000000;
}

.fecharP {
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.2s;
}

.fecharP:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal-ganhou {
  background-color: #3ac08a; 
  border: 1px solid #28a171;
  border-radius: 8px;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: white;
  box-shadow: #000000;
}

.fecharG {
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.2s;
}

.fecharG:hover {
  transform: scale(1.1);
  cursor: pointer;
}
